{
    "RootNamespace": "Yonetim",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Yonetim_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Haso",
            "ConnectionString": "MultipleActiveResultSets = True; user id=crif_trust_dev;data source=217.195.192.62,1500; persist security info=True;Connection Timeout=60;initial catalog=HasoKurumsal;password=Z.P!erSin40Mrv",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.PanelDealerList",
                    "Identifier": "PanelDealerList",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ChangeScore",
                    "Identifier": "ChangeScore",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Dealer",
                    "Identifier": "Dealer",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Daily",
                    "Identifier": "Daily",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CreditOffer",
                    "Identifier": "CreditOffer",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Monthly",
                    "Identifier": "Monthly",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.KKBTransaction",
                    "Identifier": "KkbTransaction",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DealerScore",
                    "Identifier": "DealerScore",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cities",
                    "Identifier": "Cities",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PanelOfferList",
                    "Identifier": "PanelOfferList",
                    "Module": "Haso",
                    "ConnectionKey": "Haso",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "HasoPanel",
            "ConnectionString": "MultipleActiveResultSets = True; user id=crif_trust_dev;data source=217.195.192.62,1500; persist security info=True;Connection Timeout=60;initial catalog=HasoKurumsal;password=Z.P!erSin40Mrv",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.PanelDealerList",
                    "Identifier": "PanelDealerList",
                    "Module": "HasoPanel",
                    "ConnectionKey": "HasoPanel",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Yonetim_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Panel",
            "ConnectionString": "MultipleActiveResultSets = True; user id=crif_trust_dev;data source=217.195.192.62,1500; persist security info=True;Connection Timeout=60;initial catalog=HasoKurumsal;password=Z.P!erSin40Mrv",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.PanelDealerList",
                    "Identifier": "PanelDealerList",
                    "Module": "Panel",
                    "ConnectionKey": "Panel",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Yonetim\\Yonetim.Web\\Yonetim.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": false,
    "GenerateUI": false,
    "GenerateCustom": false
}